accelerate>=0.21.0
pandas
rank_bm25
openai
tiktoken
python-dotenv
loguru
transformers
datasets
rapidfuzz
jsonlines
ujson
ftfy
scipy
vllm
scikit-learn
elasticsearch==7.9.1
uvicorn[standard]
base58
evaluate
bert_score

--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.4.0