accelerate>=0.21.0
pandas
# rank_bm25
openai
python-dotenv
loguru
transformers
datasets
rapidfuzz
jsonlines
ujson
ftfy
scipy
vllm
scikit-learn
elasticsearch==7.9.1
uvicorn[standard]
base58

--extra-index-url https://download.pytorch.org/whl/cu121
torch